[submodule "frontend/apps/android/id-reader"]
	path = frontend/apps/android/id-reader
	url = git@github.com:mandi-vrushi/id-reader-android.git
[submodule "infra"]
	path = infra
	url = git@github.com:mandi-vrushi/infra.git
[submodule "frontend/apps/pseudo"]
	path = frontend/apps/pseudo
	url = git@github.com:mandi-vrushi/pseudo.git
